* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
}

html, 
body{
  width: 100%;
  min-height: 100%;
}

#root {
  min-height: 100%;
}

.content {
  padding: 16px;
  position: relative;
  max-width: 1020px;
}